/* here you can put your own css to customize and override the theme */
/* Cubic Bezier Transition */
/***********
    Page Header
    ***********/
/* Header search bar, toggler button & top menu */
.page-header.navbar {
    /* Top notification menu/bar */
    /* Header seaech box */ }
.page-header.navbar .page-logo {
    background: #0e3d38; } /*Logo*/
.page-header.navbar .page-top {
    box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.2);
    background: #ffffff; } /*Fondo header*/
.page-header.navbar .top-menu .navbar-nav {
    /* Extended Dropdowns */
    /* Notification */
    /* Inbox */
    /* Tasks */
    /* User */
    /* Language */
    /* Dark version */ }
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle:hover {
    background-color: #ffffff; }  /*Iconos contenedor*/
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle > i {
    color: #C0CDDC; } /*Iconos*/
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle .badge.badge-default {
    background-color: #d5ca3d; /*Notificacion*/
    color: #ffffff; } /*Notificacion Valor*/
.page-header.navbar .top-menu .navbar-nav > li.dropdown.open .dropdown-toggle {
    background-color: #f9fafc; } /*Notificacion seleccionada*/
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-menu:before {
    border-bottom-color: #e4e8ee; }
.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu {
    border: 1px solid #e4e8ee; } /* Cuadro de la notificacion */
.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu:before {
    border-bottom-color: #d4dae4; } /*Notificacion indicador */
.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu:after {
    border-bottom-color: #eaedf2; }
.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external {
    background: #eaedf2; } /*Notification Pendientes */
.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > h3 {
    color: #62878f; } /*Letra notificacion*/
.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > a {
    color: #337ab7; } /*Mostrar notificacion*/
.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > a:hover {
    color: #ffffff;
    text-decoration: none; }
.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a {
    border-bottom: 1px solid #EFF2F6 !important; /* Linea entre notificacion */
    color: #888888; } /*Relleno notificacion*/
.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a:hover {
    background: #f8f9fa; }
.page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li > a .time {
    background: #f1f1f1; }
.page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li > a:hover .time {
    background: #e4e4e4; }
.page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox > .dropdown-toggle > .circle {
    background-color: #17C4BB;
    color: #ffffff; }
.page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox > .dropdown-toggle > .corner {
    border-color: transparent transparent transparent #17C4BB; }
.page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox .dropdown-menu .dropdown-menu-list .subject .from {
    color: #5b9bd1; } /*Titulo letra notificacion*/
.page-header.navbar .top-menu .navbar-nav > li.dropdown-tasks .dropdown-menu .dropdown-menu-list .progress {
    background-color: #dfe2e9; }
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username {
    color: #7f96ac; } /* Nombre de usuario */
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > i {
    color: #7f96ac; } /*Indicador usuario*/
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-menu {
    width: 195px; }
.page-header.navbar .top-menu .navbar-nav > li.dropdown-language > .dropdown-toggle > .langname {
    color: #7f96ac; }
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu {
    background: #374b6d;
    border: 0; }
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu:after {
    border-bottom-color: #374b6d; }
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu > li.external {
    background: #293952; }
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu > li.external > h3 {
    color: #a8b8d3; }
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu > li.external > a:hover {
    color: #5496cf; }
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a,
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu .dropdown-menu-list > li a {
    color: #b8c6db;
    border-bottom: 1px solid #415a81 !important; }
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a > i,
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu .dropdown-menu-list > li a > i {
    color: #97aaca; }
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a:hover,
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu .dropdown-menu-list > li a:hover {
    background: #3e557a; }
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a {
    border-bottom: 0 !important; }
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li.divider {
    background: #415a81; }
.page-header.navbar .top-menu .navbar-nav > li.dropdown-notification.dropdown-dark .dropdown-menu .dropdown-menu-list > li > a .time {
    background: #2f405c; }
.page-header.navbar .top-menu .navbar-nav > li.dropdown-notification.dropdown-dark .dropdown-menu .dropdown-menu-list > li > a:hover .time {
    background: #26344b; }
.page-header.navbar .search-form {
    background: #fff; } /*Fondo del buscador*/
.page-header.navbar .search-form .input-group .form-control {
    color: #7f96ac; } /*Letra Buscador*/
.page-header.navbar .search-form .input-group .form-control::-moz-placeholder {
    color: #7c94aa;
    opacity: 1; }
.page-header.navbar .search-form .input-group .form-control:-ms-input-placeholder {
    color: #7c94aa; }
.page-header.navbar .search-form .input-group .form-control::-webkit-input-placeholder {
    color: #7c94aa; } /* Letra buscador */
.page-header.navbar .search-form .input-group .input-group-btn .btn.submit > i {
    color: #7f96ac; } /* Lupa buscador */

/* Page sidebar */
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover,
.page-sidebar {
    background-color: #0e3d38; /*Fondo sidebar*/
    /* Default sidebar */ }
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu,
.page-sidebar .page-sidebar-menu {
    /* 1st level links */
    /* All links */ }
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a,
.page-sidebar .page-sidebar-menu > li > a {
    border-top: 1px solid #0e3d38; /*Linea sidebar*/
    color: #FFFFFF; } /*Letra sidebar*/
@media (max-width: 991px) {
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a,
    .page-sidebar .page-sidebar-menu > li > a {
        /* 991px */
        border-top: 1px solid #0e3d38; } } /*Lineas sidebar 991px*/
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i,
.page-sidebar .page-sidebar-menu > li > a > i {
    color: #FFFFFF; } /*Fondo opcion 991px */
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i[class^="icon-"],
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i[class*="icon-"],
.page-sidebar .page-sidebar-menu > li > a > i[class^="icon-"],
.page-sidebar .page-sidebar-menu > li > a > i[class*="icon-"] {
    color: #FFFFFF; } /* Iconos sidebar */
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu > li > a > .arrow:before,
.page-sidebar .page-sidebar-menu > li > a > .arrow.open:before {
    color: #3b5074; }
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a,
.page-sidebar .page-sidebar-menu > li:hover > a,
.page-sidebar .page-sidebar-menu > li.open > a {
    background: #185A54; /*Fodo cuadro sidebar*/
    color: #FFFFFF; } /*Lentra fondo sidebar*/
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > i,
.page-sidebar .page-sidebar-menu > li:hover > a > i,
.page-sidebar .page-sidebar-menu > li.open > a > i {
    color: #FFFFFF; } /*Icono sidebar*/
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu > li:hover > a > .arrow:before,
.page-sidebar .page-sidebar-menu > li:hover > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu > li.open > a > .arrow:before,
.page-sidebar .page-sidebar-menu > li.open > a > .arrow.open:before {
    color: #ffffff; } /* Idicador opcion sidebar */
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a,
.page-sidebar .page-sidebar-menu > li.active > a,
.page-sidebar .page-sidebar-menu > li.active.open > a {
    background: #d5ca3d; /*Opcion sidebar seleccionado*/
    color: #FFFFFF; } /*Letra sidebar seleccionado*/
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a:hover, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a:hover,
.page-sidebar .page-sidebar-menu > li.active > a:hover,
.page-sidebar .page-sidebar-menu > li.active.open > a:hover {
    background: #d5ca3d; } /*Opcion sidebar seleccionado hover*/
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > i,
.page-sidebar .page-sidebar-menu > li.active > a > i,
.page-sidebar .page-sidebar-menu > li.active.open > a > i {
    color: #FFFFFF; } /* Icono sidebar seleccionado */
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu > li.active > a > .arrow:before,
.page-sidebar .page-sidebar-menu > li.active > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu > li.active.open > a > .arrow:before,
.page-sidebar .page-sidebar-menu > li.active.open > a > .arrow.open:before {
    color: whitesmoke; }
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:last-child > a,
.page-sidebar .page-sidebar-menu > li:last-child > a {
    border-bottom: 1px solid transparent !important; }
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu li > a > .arrow:before,
.page-sidebar .page-sidebar-menu li > a > .arrow.open:before {
    color: #FFFFFF; } /*Indicador sidebar*/
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu li:hover > a > .arrow:before,
.page-sidebar .page-sidebar-menu li:hover > a > .arrow.open:before {
    color: #FFFFFF; } /*Indicador sidebar hover*/
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li.active > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li.active > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu li.active > a > .arrow:before,
.page-sidebar .page-sidebar-menu li.active > a > .arrow.open:before {
    color: whitesmoke; }
.page-sidebar-closed .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu:hover .sub-menu, .page-sidebar-closed
.page-sidebar .page-sidebar-menu:hover .sub-menu {
    background: #0e3d38; } /*Fondo sidebar mini*/
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a,
.page-sidebar .page-sidebar-menu .sub-menu > li > a {
    color: #FFFFFF; } /*Letra opcion sidebar*/
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > i,
.page-sidebar .page-sidebar-menu .sub-menu > li > a > i {
    color: #516fa0; }
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > i[class^="icon-"],
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > i[class*="icon-"],
.page-sidebar .page-sidebar-menu .sub-menu > li > a > i[class^="icon-"],
.page-sidebar .page-sidebar-menu .sub-menu > li > a > i[class*="icon-"] {
    color: #FFFFFF; } /*Iconos opcion sidebar*/
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu .sub-menu > li > a > .arrow:before,
.page-sidebar .page-sidebar-menu .sub-menu > li > a > .arrow.open:before {
    color: #3b5074; }
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a,
.page-sidebar .page-sidebar-menu .sub-menu > li:hover > a,
.page-sidebar .page-sidebar-menu .sub-menu > li.open > a,
.page-sidebar .page-sidebar-menu .sub-menu > li.active > a {
    background: #185A54 !important; } /*Hover sidebar cuadro opcion sidebar*/
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > i,
.page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > i,
.page-sidebar .page-sidebar-menu .sub-menu > li.open > a > i,
.page-sidebar .page-sidebar-menu .sub-menu > li.active > a > i {
    color: #FFFFFF; } /*Icono hover opcion sidebar*/
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > .arrow:before,
.page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu .sub-menu > li.open > a > .arrow:before,
.page-sidebar .page-sidebar-menu .sub-menu > li.open > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu .sub-menu > li.active > a > .arrow:before,
.page-sidebar .page-sidebar-menu .sub-menu > li.active > a > .arrow.open:before {
    color: #4d5d7c; }

/******
    Page Footer
    ******/
.page-footer .page-footer-inner {
    color: #FFFFFF; } /*Letra*/

.page-footer-fixed .page-footer {
    background-color: #a5aea8; }
.page-footer-fixed .page-footer .page-footer-inner {
    color: #121618; }

.page-boxed .page-footer .page-footer-inner {
    color: #0e3d38; }

.page-footer-fixed .page-boxed .page-footer {
    background-color: #a5aea8; }

@media (min-width: 992px) {
    /* 992px */
    /* Sidebar menu closed */
    .page-sidebar-menu.page-sidebar-menu-hover-submenu li:hover > .sub-menu {
        box-shadow: 5px 5px rgba(48, 48, 48, 0.2); }
    .page-sidebar-menu.page-sidebar-menu-closed > li:hover {
        box-shadow: 5px 5px rgba(48, 48, 48, 0.2); }
    .page-sidebar-menu.page-sidebar-menu-closed > li:hover > .sub-menu {
        box-shadow: 5px 5px rgba(48, 48, 48, 0.2); }
    /* Fixed Sidebar */
    .page-sidebar-fixed:not(.page-footer-fixed) .page-content {
        border-bottom: 0; }
    .page-sidebar-fixed:not(.page-footer-fixed) .page-footer {
        background-color: #eef1f5; }
    .page-sidebar-fixed:not(.page-footer-fixed) .page-footer .page-footer-inner {
        color: #333; }
    /* Boxed Layout */
    .page-boxed {
        background-color: #b8bfba !important;
        /* Page container */ }
    .page-boxed .page-container {
        background-color: #26344B; }
    .page-boxed.page-sidebar-reversed .page-container {
        border-left: 0; }
    .page-boxed.page-sidebar-fixed .page-container {
        border-left: 0;
        border-bottom: 0; }
    .page-boxed.page-sidebar-reversed.page-sidebar-fixed .page-container {
        border-left: 0;
        border-right: 0;
        border-bottom: 0; }
    /* Sidebar Menu Wirh Hoverable Submenu */
    .page-sidebar-menu-hover-submenu li:hover a > .arrow {
        border-right: 8px solid #1c2637; }
    .page-sidebar-reversed .page-sidebar-menu-hover-submenu li:hover a > .arrow {
        border-left: 8px solid #1c2637; }
    .page-sidebar-menu-hover-submenu li:hover > .sub-menu {
        background: #0e3d38 !important; } } /*Fondo opcion sidebar*/

@media (max-width: 991px) {
    /* 991px */
    .page-container {
        background: #eef1f5; }
    .page-header.navbar {
        box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.2);
        padding: 0;
        /* Top menu */ }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle:hover {
        background-color: #f6f7fa; }
    .page-header.navbar .page-top {
        box-shadow: none; } }

@media (max-width: 767px) {
    /* 767px */
    .page-header.navbar {
        background: #0e3d38; /* header 767px*/
        /* Top menu */ }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle:hover {
        background-color: #eff1f6; } }

/****
 CSS3 Spinner Bar
****/
.page-spinner-bar > div,
.block-spinner-bar > div {
    background: #1adbd1; }

/****
    Boby
    ****/
body {
    background-color: #0e3d38; } /*footer*/

body.page-boxed {
    background-color: #C0C6C2; }